* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
   
}


/* ------------------------------ */
/* ---------NAVBAR----------- */
/* ------------------------------ */

nav {  
     width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 2rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.nav-item {
    font-family: 'Poppins'; 
      margin: 0 2rem;
      font-size: 1.2rem;
}

.active-item {
    color: #EE5C36;
    font-weight: bolder;
}


.intro-section { 
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}




/* ------------------------------ */
/* ---------RIGHT-SECTION----------- */
/* ------------------------------ */

.right-section {
    text-align: center;
}

[alt="headphone"] {
    display: inline-block;
    width: 30rem;
}

.headphone-div {
    position: relative;
}

.discount {
    display: block;
    position: absolute;
    top: 58%;
    right: 80%;
    width: 10rem;
    filter: drop-shadow(-4px 3px 2px rgba(171,171,171));

}


.discount-content {
    
    position: absolute;
    top: 66%;
    right: 86%;
    color: #ffffff;
}

.discount-content h1 {
      
      font-size: 3rem;
      text-align: center;
}
.discount-content h4 {
    
    font-size: 1rem;
    text-align: center;
}

/* ------------------------------ */
/* ---------LEFT-SECTION----------- */
/* ------------------------------ */

.new-product {
    display: inline-block;
    font-family: 'Poppins';
    font-size: 2.5rem;
}

[alt="circles"] {
    display: inline-block;
    width: 3rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.left-section {
    margin-top: 4rem;
}

.left-section h1 {
    font-size: 4.5rem;
    margin-top: 1rem;
}

.sub-headlines {
    
    margin:2.5rem 0 3rem 7rem;
}


.sub-headline {
    display: block;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 200;
    margin-left: 0.5rem;
    margin-bottom: 0.7rem;
  
}


.sub-headline span {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 1.3rem;
    display: inline-block;
    position: relative;
    bottom: 0.3rem;
    left: 0.5rem;

}



[alt="plus"] {
    display: inline-block;
    background-color: #EE5C36;
    border-radius: 50%;
    border: none;
    padding: 0.3rem;
    width: 1.6rem;
   
}

.text {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 200;
    color: #D3D3D3;
    padding-right: 7rem;

}

.action-btn {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 200;
    display: inline-block;
    padding: 0.6rem 1.5rem;
    background-color: #EE5C36;
    color: #ffffff;
    border-radius: 1.5rem;
    border: none; 
    margin-top: 2.5rem;
}

.catalog {
    display: inline-block;
    margin-left: 3rem;
}

.dot {
    display: inline-block;
    width: 1rem;
    height: 0.5rem;
    padding: 0.7rem;
    margin: 0 0.5rem;
    background-color: black;
    border: none;
    border-radius: 50%;
}
.yellow-dot {
    background-color: #FAD249;
}

.tomato-dot {
    background-color: #EE5C36;
}

.black-dot {
    background-color: #000000;
}



    /* ------------------------------------------------------- */
    /* -----------RESPONSIVE USING MEDIA QUERY---------------- */
    /* ------------------------------------------------------- */

   
   /* ---------LARGER-SCREEN---------------  */

    @media screen and (max-width: 1200px) {

        .left-section h1 {
            font-size: 3rem;
            margin-top: 1rem;
        }

        .sub-headlines {
    
            margin-left: 1rem;
        }

    }



    /* ---------LARGE-SCREEN---------------  */

@media screen and (max-width: 1020px) {
    
    /* --------navbar-------------- */
    nav {   
       flex-wrap: wrap;
       justify-content: center;  
   }

   .nav-items {
    justify-content: space-around;
    margin: 1rem 0;
}


.intro-section {
    grid-template-columns: 1fr;
}

/* -----------left-section-------------- */

.new-product {
    font-size: 2rem;
    text-align: center;
}

[alt="circles"] {
    width: 2rem;
}

.left-section {
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem
}

.left-section h1 {
    font-size: 3rem;
    margin-top: 1rem;
}

.text {
    padding-right:0;
    text-align: center;

}


.sub-headlines {
    
    margin:0;
    text-align: start;
    margin-left: 10rem;
    margin-top: 2rem
}





/* -----------right-section-------------- */

.discount {
    display: block;
    position: absolute;
    top: 58%;
    right: 70%;
    width: 10rem;
    filter: drop-shadow(-4px 3px 2px rgba(171,171,171));

}

.discount-content {
    
    position: absolute;
    top: 66%;
    right: 74%;
    color: #ffffff;
}



 }




/* ---------MEDIUM-SCREEN---------------  */

@media screen and (max-width: 640px) {

/* --------Nav----------- */

    .nav-item {
        font-family: 'Poppins'; 
          margin: 0 1.2rem;
          font-size: 1rem;
    }

/* --------headphone-image----------- */
    [alt="headphone"] {
        display: inline-block;
        width: 20rem;
    }

/* -----------left-section-------------- */
    .left-section {
        text-align: center;
    }

    .sub-headline span {
        font-family: 'Poppins';
        font-weight: 200;
        font-size: 1rem;
        display: inline-block;
        position: relative;
        bottom: 0.3rem;
        left: 0.5rem;
    
    }

    .sub-headlines {
    
        margin:0;
        text-align: start;
        margin-left: 5rem;
        margin-top: 2rem
    }

    .text {
        padding-right:0;
        text-align: center;
    
    }

/* -----------right-section-------------- */
    .discount {
        width: 6rem;
        right: 72%;
    }

    .discount-content {
    
        position: absolute;
        top: 66%;
        right: 76%;
        color: #ffffff;
    }
    
    .discount-content h1 {
          
          font-size: 1.2rem;
          text-align: center;
    }
    .discount-content h4 {
        
        font-size: 1rem;
        text-align: center;
    }
}


